{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Zach Demo{% endblock %}

{% block page_content %}
<div class="page-header header-home">
    <div class="container container-home-header">
        <p>HTML Element Dashboard</p>
    </div>
</div>
<div class="container form_region">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form method="POST" action="/" >
            {{ form.hidden_tag() }}
            {{ form.website.label }}
            {{ form.website(**{'class':"website_input", 'required':"required", 'pattern':"https?://.*", 'title':"'http://'"}) }}
            {{ form.submit(class_="website_submit") }}
        </form>
    </div>
</div>
<div class="container">

    <div class="stat_container col-xs-12 col-md-3 col-md-offset-1">
        <div class="stat_title">Element Count</div>
        <div class="stat_shell">
            <div class="stat_wrapper">
                <div class="stat_value">{{ totalCount }}</div>
                <div class="stat_name">Total</div>
            </div>
        </div>
        <div class="stat_shell">
            <div class="stat_wrapper">
                <div class="stat_value">{{ uniqueCount }}</div>
                <div class="stat_name">Unique</div>
            </div>
        </div>
    </div>
    <div class="avg_container col-xs-12 col-md-7">
        <div class="bullet_wrapper">
            <svg class="bulletchart"></svg>
        </div>
    </div>

    <div class="chart_container col-xs-12 col-md-5 col-md-offset-1 volume_chart">
        <div class="chart_shell">
            <div class="chart_title">Elements By Volume</div>
            <svg class="barchart"></svg>
        </div>
    </div>
    <div class="chart_container col-xs-12 col-md-5 frequency_chart">
        <div class="chart_shell">
            <div class="chart_title">Elements By Frequency</div>
            <div id="frequencychart"></div>
        </div>
    </div>


    {% include '_detailtable.html' %}

</div>
{% endblock %}